/*====================GOOGLE FONTS============================*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;400;600&family=Lobster&display=swap');

/*==============XX======GOOGLE FONTS============XX================*/

/*====================VARIABLE CSS============================*/
 :root{
--header-height: 3rem;

/*====================COLORS============================*/
--deep-brown: hsla(27, 31%, 55%, 0.99);
--orange-color: hsla(29, 70%, 59%, 1);
--black-text:hsla(0, 0%, 0%, 1);
--brown-light:hsla(25, 18%, 67%, 0.83);
--brown-gradient:linear-gradient(120deg, #c79081 0%, #dfa579 100%);
--text-light:#FFEACE;
--shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);

/*================XX=======COLORS================XX=========*/

/*====================FONTS============================*/
--body-font: 'Bitter', serif;
--slant-font: 'Lobster', cursive;
--biggest-font-size: 3.5rem;
--h1-font-size: 2.3vw;
--h2-font-size: 1.8vw;
--h3-font-size: 1rem;

--font-weight-mid:400;
--font-weight-text: 200;
--font-weight-big:700;

/*==============X======FONTS===========X=================*/


}


/*=====================GENERAL VARIABLES=========================*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    margin: var(--header-height), 0, 0, 0,0;
    font-family: var(--body-font);
    font-weight: var(--font-weight-mid);
    color: var(--black-text);
}





/*============XX=========GENERAL VARIABLES=========XX================*/
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--black-text);
    
}

button{
    border-radius: 3rem;
    background-color:honeydew;
    font-family: var(--slant-font);
    transition: 1s;
    color: grey;
    padding: .5rem 1rem ;
    font-size: 1.0rem ;
    font-weight: var(--font-weight-text) ;
}




/*====================REUSABLE CLASS============================*/



/*==============XX======REUSABLE CLASS============XX================*/



/*==============XX======VARIABLE CSS============XX================*/
.header{
    
    width:100%;
    background-color:gray;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
}

.big-bg{
    background-color: gray;
    height: 100vh;
   
}

.nav{
    display: flex;
    height:3rem;
    justify-content: space-between;
    align-items: center;
    margin:1rem 6vw 0 6vw;

}

.icon{
    margin-right: .8rem;
}

.nav-menu{
    display:flex;
   
}

.nav-icon-container{
    display: flex;
}

.nav-item{
    display: block;
    padding: 1rem;
    margin: 0 0.5vw;
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-mid);
    transition: all ease-in-out 1s;
}

.nav-item:hover{
    background-color: grey;
}

.nav-list{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: var(--font-weight);
}

.brand-name{
    font-size: 2rem;
    font-family: var(--slant-font);
}

.nav-toggle{
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 1.5rem;
}

.nav-close{
    position: fixed;
    top: 5%;
    left: 85%;
    font-size: 1.5rem;
    display: none;
    
}


.home-section{
    width:100vw;
    padding: 7vw ;
    position:absolute;
    top: 4rem ;
    flex-direction: column-reverse ;
}
.home-title{
    font-size: 1.5rem;
}
.nav-toggle{
    left: 85%;
}
.afro-dish{
    font-size: 58px;
}

.food-image-container{
    position:relative;
    width: 60vw;
    left:12vw;
    }
.food-img{
  
    width: 13rem;
    border-radius: 50%;
    border: 10px solid gray;
}


.place-order{
    position:relative;
    top: 0.5rem;
    left: 34%;

}



 .subtitle{
     font: var(--slant-font);
     display: none;
     
 }


.nav-menu{
   flex-direction: column;
    margin-top:1rem;
}



.nav-container{
   display:none;
    transition: 1s ease-out;
    padding: 3rem;
    position: fixed;
    top: 0 ;
    right: 0 ;
    width: 70vw;
    height: 100vh ;
    background-color:gray; 
    z-index: 4; 
}
.nav-item{
    font-size: 1.5rem;
}
.nav-close{
    display:initial;
}


.social{
    display: none;}

.design{
    position: relative;
    width: 100vw;
    bottom: 2rem;
    display: none;
}


.popular h1{
 padding: 0.3rem;
 text-align: center;
 font-weight:var(--font-weight-big);
 font-size: 2rem;
 margin: 1rem 0;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 6vw;
  margin-left: 3rem;
  width: 70vw;
  background-color:gray;
  text-align: center;
  box-shadow: var(--shadow);

  
  
}

.card-img{
    width: 40vw;
    padding: 1rem;
}
.card-content{
    background-color: gray;
    height: inherit;
    text-align: center;
}
.food-title{
    font-family:var(--slant-font);
    padding: 1rem;

}
.price{
    font-size: 1.5rem;
    padding: 0.3rem;
}
.rating{
    padding: .5rem 0.1rem;
    color: orange;
}
.btn{
    margin-bottom: 1rem;
    padding: .5rem 2rem ;
    
}

.chef-name{
    margin-top:1rem ;
    text-align: center;
}
.chef{
    padding: 10px;
    width:90%;
    display:flex;
    font-size: 0.7rem;
    
    margin:10px;  
    border-radius: 20px;
    box-shadow: var(--shadow);

}

.chef-img{
    width:35vw;
    height:auto;
}

.chef-description{
    padding-left: 10px;
    
}

.testimonial-header{
    text-align: center;
    
}
.testimonial-container{
    margin-top: 1rem;
    padding: 1rem;
}

.testimonial{
    position: relative;
    display:flex;
    width:90vw;
   margin-top: 3rem;
    border-radius: 1rem;
    padding: 5px;
    background-color: rgb(241, 238, 238);
    box-shadow: var(--shadow);

}
.subscribe .owl-carousel .owl-item img{

    width: 30% !important;
}

.test-img{
    position: absolute;
    top: -33px;
    left:-.5rem;
   height: 6rem;
   
    border-radius: 50%;
    border:solid gray 5px;
    
}

.test-review{
    font-size:10px;
    padding-left: 25vw;
}
.reviewer{
    
    font-weight:var(--font-weight-big);
    font-size:1.2rem;
    margin-bottom: 2rem;
}

.contact{
    background-color: gray;
    margin-top: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    row-gap: 1rem;

}

.subscribe-form{
    display: flex;
    height:P 6rem;
    justify-content: space-between;
    background-color:gray;
    
}

.mail{
    width: 70%;
   
    padding-left: 5px;
    background-color:honeydew;
    border:none;
    
}

.sub-btn{
  padding: 0.2rem 0.5rem;
  display: inline;
  border-radius: 0;
  
}

.empty-text{
    height: 150px;
    padding: 0 10px 110px 5px;
}

.sponsors-container{
    margin: 1rem;
   display: flex;
   flex-wrap: wrap;


}

.sponsor{
    width: 100px;
    margin: 5vw;
    transition: .3s;
}

.footer-container{
    padding: 10vw;
}

.footer-note{
    margin: 0.5rem 0;

}
.footer-note-container{
    font-family: var(--slant-font);
    text-align: center;

}

.social-links-container{
    justify-content: center;
    display: flex;
    margin: 5vw 0;
    flex-direction: column;
}

.home-end-text{
    text-align: center;
}

.footer-section-container{
    display: flex;
   flex-direction: column;
    row-gap: 1.5rem;
   
    
}

.footer-heading{
    color: gray;
}

.footer-item{
    display: block;
    margin: 1rem 0;
}

.footer-rights{
    margin: 1.5rem 0 0 0;
    font-size: 13px;
    
}

.footer-copyright{
    margin: 10px 0;
}














@media only screen and (min-width: 380px){
    
    .afro-dish{
        font-size: 18vw;
    }

    .footer-section-container{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 14vw;
    }
}


